.gradle/
.idea/
.vscode/
build/
run/

lemonmint-server/build.gradle.kts
lemonmint-api/build.gradle.kts
lemonmint-server/src/minecraft/
paper-server/
paper-api/
mint-api/
mint-server/
folia-api/
folia-server/
